@charset 'UTF-8';

//____________________________
// 単体のモディファイア
//____________________________
// ---------- PC SP 表示非表示切り替え ----------
.-pc-only {
	@media #{$tab} {
		display: none;
	}
}

.-sp-only {
	display: none;

	@media #{$tab} {
		display: inline-block;
	}
}

.-tac {
	text-align: center;
}
