@charset 'UTF-8';
@import 'configuration';
//____________________________
// タイトル2
//____________________________
.titleType2 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    @include flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
    @media #{$tab} {
        margin-bottom: 6.4rem;
        font-size: 2.4rem;
    }
    &::before {
        width: 1px;
        height: 60px;
        background-color: $black_000;
        display: inline-block;
        content: "";
    }
}