@charset 'UTF-8';
@import 'configuration';
//____________________________
// タイトル1
//____________________________
.titleType1 {
    font-size: 8rem;
    font-weight: 600;
    border-bottom: 1px solid $black_000;
    margin-bottom: 8rem;
    @media #{$tab} {
        margin-bottom: 6.4rem;
        font-size: 4rem;
    }
}