@charset 'UTF-8';

@import 'configuration';

@import 'base';

@import 'modifier';

//____________________________
// ヘッダー
//____________________________
.headerWrap {
	.header {
		background-color: $lightgray_F7F;

		.header__flex {
			@include flex;
			justify-content: space-between;

			// ---------- ロゴ ----------
			.header__logo {
				max-width: 100px;
				margin-right: 2.4rem;

				.header__logoLink {
					.header__logoImg {
						width: 100%;
					}
				}
			}

			// ---------- メニュー ----------
			.header__navWrap {
				&.-pc {
					@media screen and (max-width: 960px) {
						display: none;
					}
				}

				&.-sp {
					// display: none;
				}

				.header__nav {
					@include flex;
					-ms-flex-pack: justify;
					justify-content: space-between;
					height: 100%;

					.menu-item {
						@include flex;
						align-items: center;
						-ms-flex-align: center;
						-ms-flex-pack: center;
						justify-content: center;
						padding: 1.8rem 0;
						margin-right: 5rem;

						-webkit-box-align: center;
						-webkit-box-pack: center;

						&.current-menu-item {
							border-bottom: 1px solid $black_000;
						}

						a {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
}
